<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>

	<connectionStrings>
		<add name="DB_MYSQL_RMS" providerName="MySql.Data.MySqlClient" connectionString="0ODJtFT43p3fl5a2LBHQCJXgk+tXKMu1kIX1XARjvTMoHE07tkv0IP84DxiRP6RRNojw65b4sxStHkosiRz5l6IbsWxoKLPaF5DqJnStlrX0+Chgrc2FD6ZVnKcQg4szAC7c8kDg6MDALufEqn4HXxarARYWD1YL/Z/Z7Chqo2IzXT1rsjDbO0cbqE4Z3RNDKWwLgKKlo0D1oCi1n91dEk6S6Bdc5EViDL+Xh0zlj132mFcTMPm/CZ546G4dVI+H"/>
		<add name="DB_MYSQL_LOCAL_ADMIN" providerName="MySql.Data.MySqlClient" connectionString="LXbCrLT6Gii94wL7LZtO5g1rtvFw8tZV0VHgtOqJv21Wn4lL1A8tPIXsGLzSbvRSXFSE3tHGU3RsZ7eHISSmAsa5EfITIy3zpss2VHwIL927HmQ554Mpv2oDNs2d6ja3ybjqoSCqY30n5BUOHQqSSiszpdnVWmTBRtL0ObPlWOSxJjj/I2nNxz7dVaM0v4DDmTFSmjkQMIIQK+371OG/KLXjGBAcGbls/FrwFFPjgS/piTheVtyoABD3ObkVcxUX"/>
		<add name="DB_MYSQL_LOCAL_GUDB" providerName="MySql.Data.MySqlClient" connectionString="/0fsqMEprNLPXBhCDOvqW2MDkdCUAvbg+wGIXpA9NbNZi7Q1xWPtNIu5E4dnjokNGfAYIuLk2x/Sb4K0mHfSV5dCwlxXqTltKSH9n4hrKLXinBWXZpE7wMgHKVLY3g/DDVc+ivOEPYNipgSsRhvZby/jgINQpI2eD/dFTk6mHub+5dftxGP9ZLZJ+UhJaEqWro48DNsOwAbvNPEnpf3BIeUFDgWawS/ReRzqx7wl4djiZ1vcD6TKP7cOYhTvd5rW"/>
	</connectionStrings>

	<entityFramework>
		<!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework" />-->
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
			<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
		</providers>
	</entityFramework>

</configuration>
