<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

	<connectionStrings>
		<add name="DB_MYSQL_RMS" providerName="MySql.Data.MySqlClient" connectionString="server=remotemysql.com;uid=PjQyjbDZNh;database=PjQyjbDZNh;password=GXvAQzDbsS;port=3306;persistsecurityinfo=True;" />
		<add name="DB_MYSQL_LOCAL_ADMIN" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;uid=hugo;database=goldendb;password=SuperP@ss;port=3306;persistsecurityinfo=True;" />
		<add name="DB_MYSQL_LOCAL_GUDB" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;uid=goldenuserdb;database=goldendb;password=GoldenP4ss;port=3306;persistsecurityinfo=True;" />
	</connectionStrings>
</configuration>
